body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #AC3931;
    color: #E5D352;
    min-height: 100vh;
    padding: 0;
    margin: 0;

}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 60px;

}

.results {
    font-size: 30px;
    font-weight: 500;
}

.fighters {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.character {
    max-width: 400px;
}

.character button {
    background: none;
    border: solid #D9E76C 6px;
    padding: 0;
    cursor: pointer;
    transition: border-color 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
}

.character img {
    width: 100%;
    height: 100%;
}

.character img {
    max-width: 100%;
    height: auto;
}

.character button.player-selected {
    background: none;
    border: solid #537D8D 8px;
    padding: 0;
}

.character button.comp-selected {
    background: none;
    border: solid #482C3D 8px;
    padding: 0;
}

.character button.draw {
    border: 8px solid transparent;
    background: linear-gradient(to right, #537D8D 50%, #482C3D 50%);
    border-image-slice: 1;
}
.character button.grow {
    transform: scale(1.1);
}

/* results section */
.result-box {
    display: flex;
    justify-content: center;
    gap: 40px;

}
.comp-wins,
.player-wins {
    font-size: 20px;
}

.footer {
    
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5D352;
    margin-top: auto;
    
}

.footer div {
    color: #AC3931;
    font-size: 20px;
    
}

.play-button {
    font-size: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    background-image: linear-gradient(144deg,#E5D352, #537D8D 50%,#482C3D);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #E5D352;

}




